@import url('global.css');
.contenido{
    color: var(--contraste);
    background-color: var(--fondo);
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    & header h1{
        text-align: center;
    }

}
.formulario-tabla-body{
    display: grid;
    grid-template-columns: 50% 50%; /* pasar a 100% cuando mediaquery*/
}
input {
    background-color: var(--resaltar);
    border-radius: 10px;
    color: var(--contraste);
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
tr{
    grid-template-columns: 40% 60%;
    display: grid;
    align-items: center;
    min-height: 200px;
    & td{
        text-align: center;
        &:first-child{
            text-align: right;
        }
        &:last-child{
            margin-left: 2vw;
        }
        & select {
            border-radius: 10px;
            padding-top: 10px; 
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.boton-formulario {
    margin: 1vh;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .formulario-tabla-body{
        grid-template-columns: 100%;
    }
    
}