:root {
    --fondo: #0c1821;
    --resaltar: #324a5f;
    --contraste: #ccc9dc;
    --house: url('../media/icons/home.svg');
    --mail: url('../media/icons/mail.svg');
    --marca: url('../media/icons/marca.jpg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans';
    text-align: center;
}
body {
    background-color: var(--fondo);
    color: var(--fondo);
    margin: 0;
    height: 100vh;

   
}
.contenido-articulo{
    background-image: var(--img-fondo);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
main{
    display: flex;
    height: 100vh;
    & aside{
        width:30% ;
    }
}
aside {
    height: 100vh;
    background-color: var(--contraste);
    width: 100%;
    & a div.cabecera {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Josefin Sans';
        font-size: x-large;
        height: 10%;
        padding-left: 50px;
        & h1{
            padding-right: 20px;
            padding-left: 40px;
        }
    }

    & .contenido {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Poppins';
    }
    & summary{
        font-size: large;
        font-weight: bold;
    }
    & a {
        font-family: 'Poppins';
        text-decoration: none;
        color: var(--fondo);
        font-size: large;
        font-weight: bold;
        display: flex;
        padding-bottom: 30px;
        align-items: center;
    }
}

header.plantilla {
    display: none;
}

.icon {
    border-radius: 15%;
    width: 50px;
    height: 50px;
    background-image: var(--marca);
    background-size: 150%;
    background-position: center;
}

ul {
    list-style: none;
}

@media (max-width: 1024px) {
    aside {
        display: none;
    }

    header.plantilla {
        display: block;
        width: 100vw;
        min-height: 10%;
        background-color: var(--contraste);

        & .marca {
            font-family: 'Josefin Sans';
            font-size: x-large;
            display: flex;
            align-items: center;
            justify-content: center;

            & .icono {
                background-image: var(--marca);
                background-size: 150%;
                background-position: center;
            }
        }
    }

    header.plantilla ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }



    .icono-home {
        background-image: var(--house);
        background-size: contain;
        background-position: center;
        height: 50px;
        width: 50px;
    }

    .icono-mail {
        background-image: var(--mail);
        background-size: contain;
        background-position: center;
        height: 50px;
        width: 50px;
    }
    .menu ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texto {
        margin-left: 20px;
        display: block;
        font-family: 'Poppins';
        padding-top: 8px;
        padding-left: 10px;
        height: fit-content;
    }
}

@media (max-width: 425px) {
    .texto {
        display: none;
    }
}
a{
    text-decoration: none;
}